html, body {
	background: #efefef;
	margin: 0;
	height: 100%;
	min-height: 1px;
}
.layout {
	margin: 0 auto;
	max-width: 900px;
	color: #333;
	background: #fff;	
	min-height: 100%;

	&__head {
		text-align: center;
	}	

	&__main-menu {
		display: inline-block;
		margin: auto;
	}
}